<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ asset('style/cart.css') }}">
    <link rel = "stylesheet" href="{{ asset('style/spin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Philosopher&family=Solway&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/spin.umd.js') }}"></script>
    <title>COOLCAT.cart</title>
</head>
<body>
<div class="wrapper">

    <header>
        <div class="container_header">
            <div class="block_header">

                <img class="logo" src="{{ asset('logo/logo.svg') }}" alt="">

                <nav class="navigation">
                    <a class="nav" href="">Home</a>
                    <a class="nav" href="/">Shop</a>
                    <a class="nav" href="">Contacts</a>
                    <a class="nav" href="">About us</a>

                </nav>

                <a class="cart"><img src="{{ asset('logo/CArT (1).svg') }}" alt="">
                    <div class="log">
                        <img class="paw" src="{{ asset('logo/paw.svg') }}" alt="">
                    </div>
                </a>

            </div>
        </div>
    </header>
    <div class="cart_container">
        <div class="cart_block">

            <div class="cart_frame">

                <div class="cart_title">
                    <h1 class="cart">Корзина</h1>
                    <p class="product"> </p><span class="item"></span>
                </div>

                <div class="block_card">

                    {% for product in products %}

                        <div class="card" data-id="{{ product.id }}">
                            <img class="image" src="{{ product.image_path }}" alt="">

                            <div class="card_title">

                                <p class="description">{{ product.name }}</p>
                                <div class="bottom">
                                    <p class="price">{{ product.price }} ₽</p>
                                    <button class="delete_item">Удалить</button>
                                </div>

                            </div>
                            <div class="quantity">

                                <button class="minus">
                                    <div class="min"></div>
                                </button>
                                <p class="amount">{{ product.count }}</p>
                                <button class="plus">
                                    <div class="max"></div>
                                    <div class="max_end"></div>
                                </button>

                            </div>
                        </div>

                    {% endfor %}

                </div>

                <div class="border"></div>

                <p class="total">Итого к оплате: <span class="total_price">0</span> ₽</p>

                <button class="order">Заказать</button>

            </div>

        </div>
    </div>
</div>

<script src="{{ asset('js/cart.js') }}"></script>
</body>
</html>
